footer {
    text-align: center;
}

main {
    padding: 16px;
    max-width: 40em;
    margin: auto;
}

header {
    text-align:center;
}

header p {
    text-transform: uppercase;
    font-family: serif;
    color: black;
    font-size: 34px;
}

header nav a {
    display:inline-block;
    font-family: sans-serif;
    padding: 16px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header nav a.active {
    color: black;
}

.picture {
    max-width: 40em;
    width: 100%;
    height: auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.articleName {
    text-transform: capitalize;
    font-family: sans-serif;
    color: black;
    font-size: 32px;
    text-indent: 18px;
    text-align: justify;
}

.articleDate {
    text-transform: capitalize;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
    text-indent: 18px;
    text-align: justify;
}

.primaryHeader {
    text-transform: capitalize;
    font-family: sans-serif;
    color: black;
    font-size: 28px;
    text-indent: 18px;
    text-align: justify;
}

.secondaryHeader {
    text-transform: capitalize;
    font-family: sans-serif;
    color: black;
    font-size: 24px;
    text-indent: 18px;
    text-align: justify;
}

.defaultText {
    text-transform: capitalize;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
    text-indent: 18px;
    text-align: justify;
}

.description {
    text-transform: capitalize;
    font-family: sans-serif;
    color: gray;
    font-size: 18px;
    text-align: center;
}

.preview {
    font-size: 18px;
    color: black;
    text-decoration: none;
}
